@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "GetBlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>

    .alert {
        background-color: #9bffa8;
        padding: 20px 40px;
        min-width: 450px;
        position: absolute;
        right: 0;
        top: 5px;
        border-radius: 4px;
        border-left: 10px solid #67ff02;
        overflow: hidden;
    }

        .alert .fa-check-circle {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: #29ce00;
            font-size: 30px
        }

        .alert .msg {
            padding: 0px 20px;
            top: 50%;
            color: #75ce00;
            font-size: 18px;
        }

        .alert .close-btn {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            background: #80ffa0;
            padding: 20px 18px;
            cursor: pointer;
        }

            .alert .close-btn:hover {
                background: #8aff66;
            }

    .none {
        display: none;
    }

    .show {
        animation: show_slide 1s ease forwards;
    }



    .hide {
        animation: hide_slide 1s ease forwards;
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Blog List</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> # </th>
                        <th>Blog Başlığı</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Kategori</th>
                        <th>Durum</th>
                        <th>Sil</th>
                        <th>Düzenle</th>
                        <th>Aktif / Pasif yap</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="py-1">@item.BlogId </td>
                            <td> <b> @item.Title </b>  </td>
                            <td> @(((DateTime)item.CreateDate).ToString("dd MMMM yyyy"))</td>
                            <td> @item.Category.Name</td>
                            <td>
                                @if (item.Status)
                                {<span class="badge badge-success">Aktif</span> }
                                else
                                { <span class="badge badge-secondary">Pasif</span>}
                            </td>
                            <td><button class="btn btn-outline-danger" onclick="deleteBlog(@item.BlogId)">Sil</button></td>
                            <td><a href="/Blog/BlogEdit/@item.BlogId" class="btn btn-outline-warning">Güncelle</a></td>
                            <td>

                                @if (item.Status)
                                {
                                    <a href="~/Blog/ChangeStatusBlog/@item.BlogId" id="Durum_@item.BlogId" class="btn btn-gradient-secondary">Pasif Yap</a>
                                }
                                else
                                {
                                    <a href="~/Blog/ChangeStatusBlog/@item.BlogId" id="Durum_@item.BlogId" class="btn btn-gradient-success">Aktif Yap</a>
                                }

                            </td>
                        </tr>
                    }



                </tbody>
            </table>


            <br /> <br />
            <a href="/blog/BlogAdd/" class="btn btn-success"> <h6> Yeni Blog Oluştur </h6> </a>
        </div>












    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function deleteBlog(id) {

        Swal.fire({
            title: 'Emin misiniz !',
            text: "Blogu silmek istediğinize emin misiniz ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, SİL',
            cancelButtonText: "Vazgeç",
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "post",
                    url: "/Blog/BlogDelete/"  + id,
                    success: function (func) {
                        Swal.fire(
                            'SİLİNDİ ! ',
                            'Mesaj başarılı bir şekilde silindi.',
                            'success'
                        )

                        setTimeout('', 3000);
                        location.reload();
                    }

                }
                )
            }
        })

    }

</script>