@using EntityLayer.Concrete
@model List<Writer>


<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
            @foreach (var item in Model)
            {
                <img src="@item.Image" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h4>@item.Name</h4>
                    <h5 class="mb-0">Kullanıcı Adı  : @ViewBag.userName </h5>
                    <p class="text-secondary mb-1">@item.Mail</p>
                    <p class="text-muted font-size-sm">@item.City</p>

                    <a href="/Message/Inbox/" class="btn btn-outline-primary">Message Kutum</a>
                </div>
            }
        </div>
    </div>
</div>