@model UserSingUpModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kayıt Alanı</title>

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/ont-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                 
                <h1 class="logo-name" >Blog</h1>
                <h3 class="text-danger" > SMTcoder</h3>

            </div>
            <h3>Kayıt Ekranı</h3>
            <p>Yeni Hesap Oluştur</p>
            <form class="m-t" role="form" asp-action="Index">

                <div class="form-group">
                    <span asp-validation-for="@Model.NameSurname" class="text-danger"></span>

                    <input type="text" class="form-control" asp-for="@Model.NameSurname" placeholder="Adınız Soyadınız">

                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>

                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı Adı">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                    <input type="email" class="form-control" asp-for="@Model.Mail" placeholder="Email">

                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre" required="">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre Tekrar" required="">

                </div>
                <div class="checkbox i-checks">
                    <input type="checkbox" ><i></i>
                    Kullanım şartlarını okudum kabul ediyorum.

                </div>
                <br />
                <span  class="text-danger"></span>
                <button type="submit" class="btn btn-outline-primary block full-width m-b">Kayıt Ol</button>

                <h3 class="text-muted text-center"><small>Hesabınız var mı?</small></h3>
                <a class="btn btn-sm btn-white btn-block" href="/Login/Index/">Giriş Yap</a>
            </form>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <p class="m-t"> <small>Creative Blog || Tüm Hakları Saklıdır &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
</body>

</html>
